.container{
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
}
.container a{
  color: black;
  padding-left: 16px;
}
ul{
  padding: 0;
}
li{
   list-style-position: inside;
    color: black; 
  text-align: center;
}
button{
  background-color: black;
  color: white;
  width: 150px;
  margin: 0 auto;
  padding: 10px 0;
}

@media screen and (max-width: 650px){
  .join{
    display: block;
    padding-top: 10px;
  }
}